---
import Main from '@layouts/Main.astro';
---

<Main>
    <div class = "post-content">
		<div class = "box">
			<h1 class = "title">about</h1>
			<p>a collection of survival guides for classes ive taken at rutgers.</p>
		</div>
		<div class = "box">
			<h1 class = "title">how to use</h1>
			<p>either search for a class up top or explore the class tabs at the bottom.</p>
		</div>
		<div class = "box">
			<h1 class = "title" >prefer video?</h1>
			<p>if you don't like reading and rather watch how i do things, check out my videos on sarai studies.</p>
		</div>
	</div>

</Main>
