---
const {className,classCode} = Astro.props;
---

<div class = "container">
        <h1 id = "className">{className}</h1>
        <div class = "hide icon"></div>
        <h1 id = "classCode">{classCode}</h1>
</div>

<style>
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1em;
        flex-wrap: wrap;
    }
    #className, #classCode{
        font-family: var(--primaryFont);
        font-weight: 400;
        margin-top:20px;
    }
    .icon{
        position: relative;
        top:10px;
        width:13px;
        height:13px;
        border-radius: 50%;
        border:var(--border);
        display: block;

    }
    
    /*for mobile*/
    @media only screen and (max-width:850px){
        #className, #classCode{
            font-size:larger;
        }
        .hide{
            display:none;
        }
        .container{
            flex-direction: column;
            align-items: flex-start;
            gap:0;
            
        }
     
    }
</style>