---
const {className,classCode, classIcon} = Astro.props;
import {Image} from "astro:assets";

---

<div class = "container">
        <Image id = "img" src={classIcon} alt="" /> 
        <h1 id = "className">{className}</h1>
        <h1 id = "classCode">{classCode}</h1>
</div>

<style>
   #img{
    position: relative;
    top:10px;
   }
    .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap:1em;
        flex-wrap: wrap;
    }
    #className, #classCode{
        font-family: var(--primaryFont);
        font-weight: 400;
        margin-top:20px;
        font-size: clamp(16px, 4vw, 32px); 
       }
    
    
    /*for mobile*/
    @media only screen and (max-width:850px){
        #className, #classCode{
            font-size:larger;
        }
      
        .container{
            flex-direction: column;
            align-items: flex-start;
            gap:0;
            
        }
     #img{
        position: relative;
         top:0px;
     }
    }
</style>