---
---

<div class = "exampleContainer">

    <div class = "content">

    </div>
    <div class = "controlsContainer">
        <button type = "button">Back</button>
        <button type = "button">Next</button>

    </div>
</div>

<style>
.exampleContainer{
    border: var(--border);
    height:400px;
    display:flex;
    flex-direction: column;
}
.content{
    height:90%;
}

.controlsContainer{
    border-top:var(--border);
    height: 10%;
    display:flex;
    
}

button{
    border:var(--border);
    width:50%;

}
</style>