---
import { Image } from "astro:assets";
import SearchIcon from '../assets/icons/search.svg';
---


<div>
    <Image id = "searchIcon" src = {SearchIcon} alt = ""/> 
    <input placeholder = "this site is a work in processs, get it? process? not progress? bc of the WIP inventory account? no? ok. sorry" type = "text" name = "class" class = "search" /> 
</div>

<style>
    .search {
         all: unset;
        }
    div{
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        width:100%;
        height:30px;
        padding:0 20px;
        }

    #searchIcon{
        border-top:var(--border);
        border-left:var(--border);
        border-bottom:var(--border);
        padding:4px;
        height:100%;
        width:10%;
    }
   .search{
        border:var(--border);
        padding-left:10px;
        width:100%;
        height:100%;
        border-radius: 0%;
   }

</style>