---
import x from "@assets/icons/x.svg";
import {Image} from "astro:assets";
import Search from '../components/Search.astro';

---

<div class = "topNav">
    <div class = "row1">
        <h1 id = "logo"> sarai studies </h1>
        <Image id = "navItem" src = {x} alt = ""/> 
    </div>
    <div class = "row2">
        <Search/>
    </div>

</div>


<style>

    .topNav{
        display:flex;
        gap:0.5em;
        flex-direction:column;
    }

    #logo{
        font-family: var(--primaryFont);
        font-weight: 400;
        font-size:xx-large;
    }
    .row1{
        width:100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0 20px;

    }

    .row2{
        width:100%;
    }
</style>